textarea {
    min-height: 400px;
}

#emails-view table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

#emails-view table > tr {
    user-select: none;
    padding: 10px 10px;
}



/* Style for email div */
#email > div {
    font-size: 1em;
    padding: 10px;
}
#email > div:first-child{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    margin-bottom: 5px;
}